@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  /* 다크 모드 스타일링 */
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NOTE: 공통 */
@layer components {
  .flexCenterBetween {
    @apply flex items-center justify-between
  }

  .flexCenter {
    @apply flex items-center justify-center
  }

  .marginCenter {
    @apply mx-auto my-0
  }
}

